<br>


<div *ngIf="lista.length > 0" >
    <div class="container" class="borde">
        <div class="row" ><br>
          <div class="col">
            <h3>Listado</h3>
            <br>
            <app-mascota [id]="mascotaSeleccionada"
            (mostrarMascota)="MostrarMascota($event)"
            ></app-mascota>
            <div *ngIf="mascota != null">

    
              <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                  <h5>Detalle</h5>
                </nav><br>
              <div class="card" style="width: 18rem;">
                  <img [src]= "mascota.imagen" class="card-img-top" alt="...">
                  <div class="card-body">
                       <h6>Nombre: {{ mascota.nombre }}</h6>
                       <h6>Tipo:   {{ mascota.tipo }}</h6>
                      
                  </div>
                </div>
          
          </div>
          </div>
          <div class="col">           
                <div class="list-group" class="scru">
                    
                                            
                      
                        
                            <div *ngFor="let x of lista; index as i" >
                                <div class="row" >
                                    <div class="col-sm">
                                        <div *ngIf="x.tipo == 'Perro'">
                                           <h6><span class="text-success">{{ x.nombre }}</span></h6>
                                        </div>
                                        <div *ngIf="x.tipo == 'Gato'">
                                            <h6><span class="text-danger">{{ x.nombre }}</span></h6>
                                         </div>
                                         <div *ngIf="x.tipo == 'Pez'">
                                            <h6><span class="text-primary">{{ x.nombre }}</span></h6>
                                         </div>
                                        
                                    </div>
                                    <div class="col-sm">
                                        <button type="button" (click)="Detalle(i)" class="btn btn-light">Detalle</button>
                                    </div>
                                </div>
                            </div>

                     

                        
                </div>  
          </div>
        </div>
      </div>
</div>









