<div class="container">
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="usr">Nombre</label>
            <input type="text" [(ngModel)]="Atributos.nombre" class="form-control">
          </div>
          <div class="form-group">
            <label for="usr">Imagen: </label><br>
            <input type="file" id="imagen" (change)="SeleccionarImg($event)" #fileInput>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="usr">Tipo</label>
              <select class="form-control" [(ngModel)]="Atributos.tipo" id="SelectTipo">
                <option>Perro</option>
                <option>Gato</option>
                <option>Pez</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <button type="button" (click)="GrabarMascota()" class="btn btn-outline-primary btn-blok">Evento angular</button>
            </div>
          </div>
    
        </div>
    </div>

  <div *ngIf="Atributos.imagen != 'sin'">
    <div class="form-group">
      <div class="row">
          <div class="col-12">
              <img src="data:image/png;base64,{{ Atributos.imagen }}" style="width: 600px; height: 530px;">
          </div>
      </div>
    </div>
   </div>

  </div>
  
  <app-listado [lista]="lista"></app-listado>
